* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
}

.head1 {
  position: sticky;
  display: flex;
  /* justify-content: space-between; */
  /* width: 1200px; */
  /* height: 150px; */
}

.logo {
  /* position: absolute; */
  display: inline-block;
  flex-direction: row;
  width: 140px;
  height: 120px;
  margin-left: 40px;
}
.nav {
  /* position: absolute; */
  display: inline-block;
  /* justify-content: space-evenly; */
  margin-top: 40px;
  /* margin-left: 20px; */
  font-size: xx-large;
}
#menu {
  text-decoration: none;
  /* margin-left: 1rem; */
  margin-right: 100px;


}
#reward {
  /* margin-left: 150px; */
  margin-right: 100px;

  text-decoration: none;
}
#gift {
  /* margin-left: 150px; */
  margin-right: 500px;

  text-decoration: none;
}
#sign {
  /* margin-left: 500px; */
  margin-right: 100px;

  text-decoration: none;
  border: black solid 2px;
  padding: 18px;
  border-radius: 40px;
}
#join {
  /* margin-left: 200px; */
  margin-right: 200px;
  text-decoration: none;
  border: black solid 2px;
  padding: 18px;
  border-radius: 40px;
}
